<section class="flex items-center h-full p-16 pt-24">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
        <div class="max-w-md text-center">
            <h2 class="mb-8 font-extrabold text-9xl text-gray-400">
                🙀
            </h2>
            <p class="text-2xl font-semibold md:text-3xl">Oopss...</p>
            <p class="mt-4 mb-8 text-zinc-400">
                Seems like you're unauthorized. Let's get you back on track.
            </p>
            <button (click)="goHome()" class="btn btn-primary px-6 rounded-full">
                Back to Homepage
            </button>
        </div>
    </div>
</section>