<div class="pt-[100px] px-14 pb-10">
    <!-- Add Button -->
    <div class="flex items-center justify-end max-w-full">
        <button (click)="showStudioModal(false)" class="btn btn-primary rounded-full px-5">
            <div class="flex items-center gap-2">
                <img src="assets/icons/plus-black.svg" alt="Plus Icon" class="w-[22px] h-[22px]">
                Add Studio
            </div>
        </button>
    </div>

    <!-- Table -->
    <div *ngIf="isListLoading; else table" class="space-y-4 py-8">
        <div *ngFor="let item of [].constructor(6)" class="skeleton w-full h-16"></div>
    </div>

    <ng-template #table>
        <div *ngIf="studioList.length > 0; else emptyView" class="overflow-x-auto pt-4">
            <table class="table">
                <!-- head -->
                <thead>
                    <tr class="text-center">
                        <th>Name</th>
                        <th>Active/Inactive</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row -->
                    <tr *ngFor="let studio of studioList" class="text-center">
                        <td>{{ studio.name }}</td>

                        <td>
                            <input type="checkbox" class="toggle toggle-success" [checked]="!studio.deleted"
                                (change)="changeStatus(studio.id ?? 0)" />
                        </td>

                        <td>
                            <button (click)="showStudioModal(true, studio)" class="btn btn-square btn-secondary btn-sm">
                                <img src="assets/icons/edit-white.svg" alt="Edit Icon" class="w-5 h-5">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #emptyView>
            <div class="w-full text-center">
                <h1 class="text-xl font-semibold">There's no data here...</h1>
                <p class="font-light">You can <b class="font-semibold">add a studio</b> anyway.</p>
            </div>
        </ng-template>
    </ng-template>

    <div *ngIf="totalPages > 1" class="w-full flex justify-center mt-4 py-8">
        <div class="join">
            <input *ngFor="let item of [].constructor(totalPages); let i = index" (change)="getStudioList(i)"
                class="join-item btn btn-square" type="radio" name="options" [attr.aria-label]="i + 1"
                [checked]="i === 0" />
        </div>
    </div>
</div>

<!-- STUDIO MODAL -->
<dialog id="studio-modal" class="modal">
    <div class="modal-box flex flex-col max-w-[672px] items-center space-y-6 justify-center bg-base-300">
        <h1 class="text-2xl font-semibold">{{ isEdit ? 'Edit Studio' : 'Add Studio' }}</h1>

        <!-- Studio Data Form -->
        <form #studioForm="ngForm" class="w-full space-y-3">
            <div>
                <input type="text" [(ngModel)]="currentStudioName" placeholder="The Title..." name="title" required
                    #title="ngModel" class="input input-bordered w-full bg-transparent">

                <p *ngIf="title.invalid && title.touched" class="text-error text-sm font-medium">*This
                    field is required</p>
            </div>

        </form>

        <div class="flex space-x-2 w-full">
            <button class="btn btn-secondary bg-opacity-50 max-w-[310px] w-full rounded-full"
                (click)="closeStudioModal()">Cancel</button>
            <button (click)="onClickSave()" [disabled]="isSaveButtonDisabled()"
                class="btn btn-primary max-w-[310px] w-full rounded-full"><span *ngIf="isSaveLoading"
                    class="loading loading-spinner text-primary"></span>Save</button>
        </div>
    </div>
</dialog>

<!-- ALERT -->
<div *ngIf="isShowAlert" role="alert"
    class="alert {{ isAlertSuccess ? 'alert-success' : 'alert-error' }} fixed transition-all top-0 left-1/2 -translate-x-1/2 mt-4 z-50 max-w-[800px]">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        class="h-6 w-6 shrink-0 text-primary stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
    <span class="text-primary">{{alertMessage}}</span>
</div>