<div class="pt-[100px] px-14 space-y-8">
    <div class="flex space-x-2">
        <select class="select select-bordered w-full max-w-44 bg-base-300 border-none">
            <option>Latest</option>
            <option>Earliest</option>
        </select>
        <input type="date" (change)="onDateChange($event)" [ngModel]="currentDateTime"
            class="p-2 px-6 h-12 rounded-md text-white bg-base-300" />
    </div>

    <div *ngIf="scheduleList !== []">
        <button *ngFor="let schedule of scheduleList" (click)="navigateToDetail(schedule.id!)"
            class="flex justify-between items-center border-b border-b-base-200 p-4 hover:bg-base-200 hover:rounded-lg w-full transition-all">
            <div class="flex space-x-3 items-center">
                <img [src]="schedule.movie?.posterUrl" alt="Poster" class="w-[128px] h-[193px] object-cover rounded-xl">

                <div class="flex flex-col items-start space-y-1">
                    <div class="flex space-x-2">
                        <h1 class="text-white text-xl font-bold">{{schedule.movie?.title}}</h1>
                        <h1 class="text-white text-xl">{{'(' + schedule.movie?.year + ')'}}</h1>
                    </div>

                    <div class="flex space-x-2">
                        <img src="assets/icons/location-gray.svg" alt="Location Icon" class="w-[24px] h-[24px]">
                        <p class="font-medium text-zinc-400">{{schedule.studio?.name}}</p>
                    </div>

                    <div class="flex space-x-2">
                        <img src="assets/icons/ticket-gray.svg" alt="Ticket Icon" class="w-[24px] h-[24px]">
                        <p class="font-medium text-zinc-400">{{schedule.booking?.seats?.length}} Ticekts</p>
                    </div>

                    <h2 class="self-start">{{schedule.showTime ? (schedule.showTime | fullDateTime)
                        : 'N/A'}}
                    </h2>
                </div>
            </div>

            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.91 20.4201L15.43 13.9001C16.2 13.1301 16.2 11.8701 15.43 11.1001L8.91 4.58008"
                    stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>
    </div>
</div>